:root {
    --font-body: "Roboto", sans-serif;
    --font-heading: "Outfit", sans-serif;
    --color-primary: #0B2983;
    --color-primary-dark: #092371;
    --color-secondary: #EF2D56;
    --color-light: #D6E3F8;
}